# runtime
cached_property
dataclasses;python_version=="3.6"
lxml
numpy
scipy
wrapt
yzal>=0.0.5
cf_units

# documentation
sphinx>=1.7
sphinx_paramlinks

# testing
flake8
mypy
pytest
pytest-cov
pytest-mock
pylint
pycodestyle
pydocstyle>=2.1.0

# building
wheel
